{% extends "register/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Disease Code</td>
            <td>Pathogen</td>
            <td>Description</td>
            <td>ID</td>
            <td>
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for Users in employee_list %}
            <tr>
                <td>{{Users.email}}</td>
                <td>{{Users.name}}</td>
                <td>{{Users.surname}}</td>
                <td>{{Users.salary}}</td>
                <td>{{Users.phone}}</td>
                <td>{{Users.cname}}</td>
                <td>
                    <a href="{% url 'employee_update' Users.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'employee_delete' Users.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}